@import "tailwindcss";

@theme {
    --shadow-button: 0px 4px 6px rgba(0, 0, 0, 0.2),
        inset 0px 6px 5px rgba(255, 255, 255, 0.23);
}

html {
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
